# Strings
Strings can be thought of as a sequence of characters. We've already seen `len()` used, but let's see it again.

In [1]:
len("Hello World")

11

In [2]:
len("")

0

You can reference elements in sequences. You use square brackets and the _index_ of the element in the sequence. Here's some examples:

In [3]:
greeting = "Hello there!"

In [4]:
greeting[0]

'H'

In [5]:
greeting[1]

'e'

In [6]:
# Counts from the right-hand side
greeting[-1]

'!'

In [7]:
greeting[-3]

'r'

In [8]:
idx = 0
while idx < len(greeting):
    print(greeting[idx])
    idx += 1

H
e
l
l
o

t
h
e
r
e
!

You can also reference subsequences of a sequence. You use square brackets like before, but you put the starting index, a colon, and the ending index (non-inclusive -- that is, the element at the ending index isn't in the subsequence.)

In [9]:
greeting[0:5]

'Hello'

In [10]:
greeting[6:11]

'there'

In [11]:
greeting[6:-1]

'there'

In [12]:
greeting[-3:-1]

're'

You can leave off one of the numbers if you want to start at the beginning or go to the end of the sequence.

In [13]:
greeting[:5]

'Hello'

In [14]:
greeting[0:]

'Hello there!'

In [65]:
# What happens if you leave both off?
greeting[:]

'Hello there!'

## List
Strings are neat, but what if we want a sequence of other stuff, like a list of students in a class?

In [16]:
students = ["Solomon", "Peter", "Adam", "JP"]

In [17]:
students

['Solomon', 'Peter', 'Adam', 'JP']

In [18]:
len(students)

4

In [19]:
students[0]

'Solomon'

In [20]:
students[-1]

'JP'


This is a list, and you can use it like any other sequence. All sequences have [common operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations) you can use with them.

In [21]:
"JP" in students

True

In [22]:
"Solomon" in students

True

In [23]:
"Fred" in students

False

Concatination

In [24]:
students + ["Aaron", "Eric"]

['Solomon', 'Peter', 'Adam', 'JP', 'Aaron', 'Eric']

In [25]:
students

['Solomon', 'Peter', 'Adam', 'JP']

Min and Max with strings is a little weird

In [26]:
min(students)

'Adam'

In [27]:
max(students)

'Solomon'

Numbers make more sense

In [28]:
min([1,5,6,7,2,1,67,8,-10])

-10

Many of the methods get unhappy when the list is of mixed types

In [29]:
min(["Adam", 1, 3, 4])

TypeError: unorderable types: int() < str()

In [30]:
sum(["Adam", 1, 4,56, 23])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Find the index of a given value

In [31]:
students.index("JP")

3

Count how many times a given value appears

In [32]:
students.count("JP")

1

In [33]:
numbers = [1,2,3,2,1,2,3,4,5,6,5,4,2,1,4,5]
numbers.count(1)

3

In [34]:
"Hello world".count("o")

2

In [39]:
students

['Solomon', 'Peter', 'Adam', 'JP']

Extend will add each item in a sequence to a list

In [41]:
past_students = ['Aaron', 'Eric', 'Traci']
past_students.extend(students)
past_students

['Aaron', 'Eric', 'Traci', 'Solomon', 'Peter', 'Adam', 'JP']

In [42]:
foo = ['John', 'Joey']

Append will add the entire object

In [44]:
past_students.append(foo)

In [45]:
past_students

['Aaron', 'Eric', 'Traci', 'Solomon', 'Peter', 'Adam', 'JP', ['John', 'Joey']]

In [46]:
past_students[-1]

['John', 'Joey']

Lists have [a lot more things](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types) they can do.

# An aside about objects

Before now, everything we saw were functions. They took arguments and returned values. Now we have this new syntax: `sentence.count("e")`.

In Python, everything is an _object_, which means it not only is a value, but it also has defined behavior. That behavior is contained in _methods_, which are like functions, but are called on specific objects. We will see this a lot more and learn much more about it later. For now, just memorize whether something is a function or method.

If you wonder why you wouldn't do everything the same way and have `sentence.len()` instead of `len(sentence)`, or maybe `count(sentence, "e")` instead of `sentence.count("e")`, I'm with you.

In [66]:
# :(
sentence.len()

AttributeError: 'str' object has no attribute 'len'

## For Loops
One thing you will need to do in programming very often is to iterate over the members of a sequence and do something with them.

In [36]:
for student in students:
    print("{} is a great student.".format(student))

Solomon is a great student.
Peter is a great student.
Adam is a great student.
JP is a great student.

In [37]:
for number in [1, 2, 3, 4, 5]:
    print(number ** 2)

1
4
9
16
25

How can you use a for loop to do stuff besides printing? What if you wanted to make a new sequence?

In [38]:
for number in range(10):
    print(number ** 2)

0
1
4
9
16
25
36
49
64
81

In [49]:
sentence = "Making plots and visualizations is one of the most important tasks in data analysis."
all_letters = "abcdefghijklmnopqrstuvwxyz"
found_letters = []
for letter in sentence.lower():
    if letter in all_letters and letter not in found_letters:
        found_letters.append(letter)
        
print(found_letters)

['m', 'a', 'k', 'i', 'n', 'g', 'p', 'l', 'o', 't', 's', 'd', 'v', 'u', 'z', 'e', 'f', 'h', 'r', 'y']

In [67]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customise the sort order, and the
    reverse flag can be set to request the result in descending order.

Sorted RETURNS a new list but doesn't change the original one

In [50]:
sorted(found_letters)

['a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'y',
 'z']

In [51]:
found_letters

['m',
 'a',
 'k',
 'i',
 'n',
 'g',
 'p',
 'l',
 'o',
 't',
 's',
 'd',
 'v',
 'u',
 'z',
 'e',
 'f',
 'h',
 'r',
 'y']

In [68]:
help([].sort)

Help on built-in function sort:

sort(...) method of builtins.list instance
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

.sort changes the underlying list in place

In [52]:
found_letters.sort()

In [53]:
found_letters

['a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'y',
 'z']

# Tuples
Tuples are a lot like lists, but are immutable, unlike lists. This means they cannot be changed after they are created. There's lot of good reasons for that, but one of the ones you'll see immediately is when you want to have a record -- that is, a collection of data that is similar across a whole set. Take coordinates, for instance:

In [54]:
my_tuple = (1,3,4,5,6)

In [55]:
my_tuple + (1, 2)

(1, 3, 4, 5, 6, 1, 2)

#### if a tuple only has 1 element you MUST put a comma after it

In [69]:
only_one = (1,)

In [59]:
def my_div_mod(x, y):
    return x//y, x%y

In [60]:
my_div_mod(3, 2)

(1, 1)

In [57]:
3%2

1

In [58]:
3//2

1

In [62]:
list(range(2))

[0, 1]

In [63]:
list(range(10, 20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Ranges

Ranges are yet another sequence type. They're great any time you need a series of numbers.

In [70]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [71]:
range(5)

range(0, 5)

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [73]:
list(range(10, 15))

[10, 11, 12, 13, 14]

In [74]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [75]:
# What's the sum of all odd numbers from 1 to 1000?
total = 0
for num in range(1, 1000, 2):
    total += num

total

250000

In [76]:
sum(range(1, 1000, 2))

250000