In [1]:
from pymongo import MongoClient
import pymongo

In [2]:
client = MongoClient()

In [7]:
db = client.test

In [8]:
db.restaurants

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'restaurants')

# Find Stuff

In [9]:
db.restaurants.find_one({"restaurant_id":"40374088"})

{'_id': ObjectId('5654b1ee419b8cb26f547fff'),
 'address': {'building': '244',
  'coord': [-73.9865289, 40.7606981],
  'street': 'West   48 Street',
  'zipcode': '10036'},
 'borough': 'Manhattan',
 'cuisine': 'Thai',
 'grades': [{'date': datetime.datetime(2014, 8, 13, 0, 0),
   'grade': 'A',
   'score': 10},
  {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'B', 'score': 24},
  {'date': datetime.datetime(2013, 7, 25, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2013, 1, 10, 0, 0), 'grade': 'C', 'score': 4},
  {'date': datetime.datetime(2012, 6, 18, 0, 0), 'grade': 'A', 'score': 11},
  {'date': datetime.datetime(2012, 2, 17, 0, 0), 'grade': 'P', 'score': 6}],
 'name': 'Pongsri Thai Restaurant',
 'restaurant_id': '40374088'}

In [10]:
cursor = db.restaurants.find({"grades.grade":"C"}, limit=2)

In [11]:
for document in cursor:
    print(document)

{'borough': 'Brooklyn', 'restaurant_id': '40358429', '_id': ObjectId('5654b1ee419b8cb26f547e8e'), 'name': 'May May Kitchen', 'cuisine': 'Chinese', 'address': {'coord': [-73.871194, 40.6730975], 'zipcode': '11208', 'street': 'Sutter Avenue', 'building': '1269'}, 'grades': [{'score': 21, 'grade': 'B', 'date': datetime.datetime(2014, 9, 16, 0, 0)}, {'score': 7, 'grade': 'A', 'date': datetime.datetime(2013, 8, 28, 0, 0)}, {'score': 56, 'grade': 'C', 'date': datetime.datetime(2013, 4, 2, 0, 0)}, {'score': 27, 'grade': 'B', 'date': datetime.datetime(2012, 8, 15, 0, 0)}, {'score': 27, 'grade': 'B', 'date': datetime.datetime(2012, 3, 28, 0, 0)}]}
{'borough': 'Queens', 'restaurant_id': '40364262', '_id': ObjectId('5654b1ee419b8cb26f547eb4'), 'name': 'Terminal Cafe/Yankee Clipper', 'cuisine': 'American ', 'address': {'coord': [-84.2040813, 9.9986585], 'zipcode': '11371', 'street': 'Guardia Airport Parking', 'building': '0'}, 'grades': [{'score': 9, 'grade': 'A', 'date': datetime.datetime(2014, 5, 16, 0, 0)}, {'score': 10, 'grade': 'A', 'date': datetime.datetime(2013, 5, 10, 0, 0)}, {'score': 9, 'grade': 'A', 'date': datetime.datetime(2012, 5, 15, 0, 0)}, {'score': 32, 'grade': 'C', 'date': datetime.datetime(2011, 11, 2, 0, 0)}]}

In [13]:
cursor = db.restaurants.find({"address.zipcode":"11208"}, limit=2)

In [14]:
for doc in cursor:
    print(doc)

{'borough': 'Brooklyn', 'restaurant_id': '40358429', '_id': ObjectId('5654b1ee419b8cb26f547e8e'), 'name': 'May May Kitchen', 'cuisine': 'Chinese', 'address': {'coord': [-73.871194, 40.6730975], 'zipcode': '11208', 'street': 'Sutter Avenue', 'building': '1269'}, 'grades': [{'score': 21, 'grade': 'B', 'date': datetime.datetime(2014, 9, 16, 0, 0)}, {'score': 7, 'grade': 'A', 'date': datetime.datetime(2013, 8, 28, 0, 0)}, {'score': 56, 'grade': 'C', 'date': datetime.datetime(2013, 4, 2, 0, 0)}, {'score': 27, 'grade': 'B', 'date': datetime.datetime(2012, 8, 15, 0, 0)}, {'score': 27, 'grade': 'B', 'date': datetime.datetime(2012, 3, 28, 0, 0)}]}
{'borough': 'Brooklyn', 'restaurant_id': '40386837', '_id': ObjectId('5654b1ee419b8cb26f548103'), 'name': 'White Castle', 'cuisine': 'Hamburgers', 'address': {'coord': [-73.8812773, 40.679218], 'zipcode': '11208', 'street': 'Atlantic Avenue', 'building': '3101'}, 'grades': [{'score': 2, 'grade': 'A', 'date': datetime.datetime(2014, 11, 14, 0, 0)}, {'score': 3, 'grade': 'A', 'date': datetime.datetime(2013, 10, 21, 0, 0)}, {'score': 0, 'grade': 'A', 'date': datetime.datetime(2012, 11, 14, 0, 0)}]}

# Conditionals

In [17]:
cursor = db.restaurants.find({"grades.score":{"$gt":20}}, limit=2)
for doc in cursor:
    print(doc)

{'borough': 'Brooklyn', 'restaurant_id': '30112340', '_id': ObjectId('5654b1ee419b8cb26f547e81'), 'name': "Wendy'S", 'cuisine': 'Hamburgers', 'address': {'coord': [-73.961704, 40.662942], 'zipcode': '11225', 'street': 'Flatbush Avenue', 'building': '469'}, 'grades': [{'score': 8, 'grade': 'A', 'date': datetime.datetime(2014, 12, 30, 0, 0)}, {'score': 23, 'grade': 'B', 'date': datetime.datetime(2014, 7, 1, 0, 0)}, {'grade': 'A', 'score': 12, 'date': datetime.datetime(2013, 4, 30, 0, 0)}, {'score': 12, 'grade': 'A', 'date': datetime.datetime(2012, 5, 8, 0, 0)}]}
{'borough': 'Queens', 'restaurant_id': '40356068', '_id': ObjectId('5654b1ee419b8cb26f547e85'), 'name': 'Tov Kosher Kitchen', 'cuisine': 'Jewish/Kosher', 'address': {'coord': [-73.8601152, 40.7311739], 'zipcode': '11374', 'street': '63 Road', 'building': '97-22'}, 'grades': [{'score': 20, 'grade': 'Z', 'date': datetime.datetime(2014, 11, 24, 0, 0)}, {'score': 13, 'grade': 'A', 'date': datetime.datetime(2013, 1, 17, 0, 0)}, {'score': 13, 'grade': 'A', 'date': datetime.datetime(2012, 8, 2, 0, 0)}, {'score': 25, 'grade': 'B', 'date': datetime.datetime(2011, 12, 15, 0, 0)}]}

In [18]:
cursor = db.restaurants.find({"grades.score":{"$gt":20, "$lt": 50}}, limit=2)
for doc in cursor:
    print(doc)

{'borough': 'Brooklyn', 'restaurant_id': '30112340', '_id': ObjectId('5654b1ee419b8cb26f547e81'), 'name': "Wendy'S", 'cuisine': 'Hamburgers', 'address': {'coord': [-73.961704, 40.662942], 'zipcode': '11225', 'street': 'Flatbush Avenue', 'building': '469'}, 'grades': [{'score': 8, 'grade': 'A', 'date': datetime.datetime(2014, 12, 30, 0, 0)}, {'score': 23, 'grade': 'B', 'date': datetime.datetime(2014, 7, 1, 0, 0)}, {'grade': 'A', 'score': 12, 'date': datetime.datetime(2013, 4, 30, 0, 0)}, {'score': 12, 'grade': 'A', 'date': datetime.datetime(2012, 5, 8, 0, 0)}]}
{'borough': 'Queens', 'restaurant_id': '40356068', '_id': ObjectId('5654b1ee419b8cb26f547e85'), 'name': 'Tov Kosher Kitchen', 'cuisine': 'Jewish/Kosher', 'address': {'coord': [-73.8601152, 40.7311739], 'zipcode': '11374', 'street': '63 Road', 'building': '97-22'}, 'grades': [{'score': 20, 'grade': 'Z', 'date': datetime.datetime(2014, 11, 24, 0, 0)}, {'score': 13, 'grade': 'A', 'date': datetime.datetime(2013, 1, 17, 0, 0)}, {'score': 13, 'grade': 'A', 'date': datetime.datetime(2012, 8, 2, 0, 0)}, {'score': 25, 'grade': 'B', 'date': datetime.datetime(2011, 12, 15, 0, 0)}]}

## By default this is an AND

In [20]:
cursor = db.restaurants.find({"cuisine": "Italian", "address.zipcode": "10075"}, limit=2)

In [21]:
for doc in cursor:
    print(doc)

{'borough': 'Manhattan', 'restaurant_id': '40372417', '_id': ObjectId('5654b1ee419b8cb26f547fda'), 'name': 'Don Filippo Restaurant', 'cuisine': 'Italian', 'address': {'coord': [-73.958885, 40.7745559], 'building': '1133', 'street': 'Lexington Avenue', 'zipcode': '10075'}, 'grades': [{'score': 11, 'grade': 'A', 'date': datetime.datetime(2014, 8, 11, 0, 0)}, {'score': 9, 'grade': 'A', 'date': datetime.datetime(2013, 12, 10, 0, 0)}, {'score': 12, 'grade': 'A', 'date': datetime.datetime(2013, 6, 10, 0, 0)}, {'score': 13, 'grade': 'A', 'date': datetime.datetime(2012, 6, 8, 0, 0)}, {'score': 8, 'grade': 'A', 'date': datetime.datetime(2012, 1, 25, 0, 0)}, {'score': 12, 'grade': 'A', 'date': datetime.datetime(2011, 9, 13, 0, 0)}]}
{'borough': 'Manhattan', 'restaurant_id': '40376142', '_id': ObjectId('5654b1ee419b8cb26f548028'), 'name': "Lusardi'S Restaurant", 'cuisine': 'Italian', 'address': {'coord': [-73.955387, 40.772368], 'building': '1494', 'street': 'Second Avenue', 'zipcode': '10075'}, 'grades': [{'score': 7, 'grade': 'A', 'date': datetime.datetime(2014, 1, 23, 0, 0)}, {'score': 11, 'grade': 'A', 'date': datetime.datetime(2013, 7, 11, 0, 0)}, {'score': 7, 'grade': 'A', 'date': datetime.datetime(2013, 1, 22, 0, 0)}, {'grade': 'A', 'score': 10, 'date': datetime.datetime(2012, 5, 8, 0, 0)}, {'score': 11, 'grade': 'A', 'date': datetime.datetime(2011, 11, 2, 0, 0)}]}

## This is OR

In [24]:
cursor = db.restaurants.find({"$or":[{"cuisine": "Italian"}, {"address.zipcode": "10075"}]}, limit=2)
for doc in cursor:
    print(doc)

{'borough': 'Brooklyn', 'restaurant_id': '40364305', '_id': ObjectId('5654b1ee419b8cb26f547eb8'), 'name': 'Philadelhia Grille Express', 'cuisine': 'Italian', 'address': {'coord': [-74.03400479999999, 40.6127077], 'zipcode': '11209', 'street': '4 Avenue', 'building': '10004'}, 'grades': [{'score': 12, 'grade': 'A', 'date': datetime.datetime(2014, 2, 25, 0, 0)}, {'score': 7, 'grade': 'A', 'date': datetime.datetime(2013, 6, 27, 0, 0)}, {'score': 10, 'grade': 'A', 'date': datetime.datetime(2012, 12, 3, 0, 0)}, {'score': 12, 'grade': 'A', 'date': datetime.datetime(2011, 11, 9, 0, 0)}]}
{'borough': 'Manhattan', 'restaurant_id': '40364373', '_id': ObjectId('5654b1ee419b8cb26f547ebf'), 'name': 'Isle Of Capri Resturant', 'cuisine': 'Italian', 'address': {'coord': [-73.966032, 40.762832], 'building': '1028', 'street': '3 Avenue', 'zipcode': '10065'}, 'grades': [{'score': 13, 'grade': 'A', 'date': datetime.datetime(2014, 9, 16, 0, 0)}, {'score': 10, 'grade': 'A', 'date': datetime.datetime(2014, 2, 24, 0, 0)}, {'score': 10, 'grade': 'A', 'date': datetime.datetime(2013, 5, 3, 0, 0)}, {'score': 7, 'grade': 'A', 'date': datetime.datetime(2012, 8, 20, 0, 0)}, {'grade': 'A', 'score': 9, 'date': datetime.datetime(2012, 2, 13, 0, 0)}]}

# Sorting

In [27]:
cursor = db.restaurants.find().sort([("grades.score", pymongo.DESCENDING)])

In [ ]:
for doc in cursor:
    print(doc)

# Insert Stuff

In [33]:
result = db.restaurants.insert_one(
    {
        "name": "Bob's Diner",
        "borough": "Manhattan",
        "cuisine": "American",
        "restaurant_id": "41704620666",
    }
)

In [34]:
result.inserted_id

ObjectId('5654b825896fd80d3bfb5270')

In [36]:
db.restaurants.find_one({"restaurant_id":"41704620666"})

{'_id': ObjectId('5654b825896fd80d3bfb5270'),
 'borough': 'Manhattan',
 'cuisine': 'American',
 'name': "Bob's Diner",
 'restaurant_id': '41704620666'}

# Update Stuff

In [37]:
result = db.restaurants.update_one(
    {"restaurant_id":"41704620666"},
    {"$set": {"name": "Bob's Burgers", "cuisine":"BBQ"}}
)

In [38]:
result.modified_count

1

In [39]:
db.restaurants.find_one({"restaurant_id":"41704620666"})

{'_id': ObjectId('5654b825896fd80d3bfb5270'),
 'borough': 'Manhattan',
 'cuisine': 'BBQ',
 'name': "Bob's Burgers",
 'restaurant_id': '41704620666'}

# Delete Stuff

In [40]:
result = db.restaurants.delete_one({"restaurant_id":"41704620666"})

In [41]:
result.deleted_count

1

In [42]:
db.restaurants.find_one({"restaurant_id":"41704620666"})

# Aggregation

In [47]:
cursor = db.restaurants.aggregate(
    [
        {"$match": {"borough": "Queens", "cuisine": "Brazilian"}},
        {"$group": {"_id": "$address.zipcode", "count": {"$sum": 1}}}
    ]
)

In [48]:
for doc in cursor:
    print(doc)

{'_id': '11377', 'count': 1}
{'_id': '11368', 'count': 1}
{'_id': '11101', 'count': 2}
{'_id': '11106', 'count': 3}
{'_id': '11103', 'count': 1}

In [49]:
temp_db = client['temp']

In [50]:
result = temp_db.foo.insert_one(
    {
        "name":"hello",
        "when": "now",
        "where": "right here"
    }
)

In [51]:
result.inserted_id

ObjectId('5654be96896fd80d3bfb5271')

In [52]:
cursor = temp_db.foo.find({})

In [53]:
for doc in cursor:
    print(doc)

{'when': 'now', 'where': 'right here', '_id': ObjectId('5654be96896fd80d3bfb5271'), 'name': 'hello'}